@font-face {
  font-family: 'humion';
  src: url('./Humion DEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thrustline';
  src: url('./Thrustline Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Madison42';
  src: url('./Madison.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rosan';
  src: url('./UT Rosantura Trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'baneta';
  src: url('./Baneta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dick';
  src: url('./Dicknison-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gumona';
  src: url('./Gumona DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'varelia';
  src: url('./Varelia-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JHC';
  src: url('./JHCCordelius Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'modern';
  src: url('./Moderniz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
